.search-bar {
  margin-top: 5rem;
}

.searchContainer {
  width: 60vw;
}

.results {
  width: 100%;
}

.results > div {
  margin-top: 1rem;
}

.results > div:last-of-type {
  margin-bottom: 3rem;
}

.search-bar {
  text-align: center;
}

.search-bar-header {
  justify-content: center;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .searchContainer {
    width: 50vw;
  }
}
