<mat-card class="search-bar">

        <mat-card-header class="search-bar-header">
            <mat-card-title>Filter</mat-card-title>
        </mat-card-header>

        <mat-form-field appearance="legacy">
            <mat-label>Filter</mat-label>
            <input [formControl]="name" matInput placeholder="Filter ...">
        </mat-form-field>

    <button mat-button (click)="resetSearch()" color="primary">Reset search</button>

</mat-card>
<div class="results" *ngFor="let result of resultsArray">
    <mat-card>{{ result }}</mat-card>

</div>

