<div class="singleContainer">
    <section class="image">
        <img src="https://picsum.photos/500/500"/>
    </section>
    <section class="desc">
        <h1>{{ this.name }}</h1>
        <p *ngFor="let citation of this.citations">{{ citation }}</p>
        <div class="prev-next" [hidden]="this.total <= 10">
            <button mat-button (click)="decrementePage()" [disabled]="this.page <= 0">Previous</button>
            <button mat-button (click)="incrementePage()" [disabled]="(this.page +1) * 10 > this.total">Next</button>
        </div>
    </section>
</div>



<button mat-button routerLink="/targets/"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
