<div class="score">
    <span [ngClass]="{'negative': this.score < 0,
                      'positive': this.score > 0}">{{ this.score }}</span>
</div>
<div class="gameContainer">
    <div class="containerChild">
        <div>
            <h1 class="dts">Donald Trump said</h1>
        </div>
        <div class="citation">
            {{ this.citation }}
        </div>
        <div>
            <h2 class="question">Who' speaking about ?</h2>
        </div>
        <div class="buttons">
            <button mat-flat-button *ngFor="let subject of this.randomArray" (click)="isAnswerCorrect(subject)">{{ subject }}</button>
        </div>
        <div *ngIf="this.answer == true || this.answer == false">
            {{ this.feedback() }}

        </div>
    </div>

</div>
