<div class="container">
    <mat-card class="card" *ngFor="let target of this.targetArray">
        <mat-card-header>
            <mat-card-title>{{target.value.split(" ")[0]}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image *ngIf='target.value.split(" ")[1] == undefined' src='../../assets/pictures/{{target.value.split(" ")[0]}}.png' alt=""/>
        <img mat-card-image *ngIf='target.value.split(" ")[1] != undefined' src='../../assets/pictures/{{target.value.split(" ")[0]+target.value.split(" ")[1]}}.png' alt=""/>
        <mat-card-actions>
            <button mat-button [routerLink]="'/target/' + target.value">What did Tronald say ?</button>
        </mat-card-actions>
    </mat-card>
</div>
